<html>
  <head>
    <link rel='stylesheet' type='text/css' href='..Todo_list/public/index.css'/>
  </head>

  <body>
    <div class='centre_column'>
      <h2><strong>WELCOME TO YOUR TO DO LIST</strong></h2>

      <div>
        <form action="/items" method="POST">
          <input type='text' name='description' placeholder='What needs to be done?' size='80' required />
          <input type='submit' value='Add' />
        </form>
      </div>

      <div class='success_message'>
        <p><%= message %></p>
      </div>

      <div class='items_left_and_list_views'>
        <div class='count_active'>
          <p><!-- result --> _ items left to complete</p>
        </div>

        <div class='list_buttons'>
            <p><a href="/">All</a>
              <a href="/?status=active">Active</a>
              <a href="/?status=complete">Complete</a>
            </p>
        </div>
      </div>

      <div class='display_postgres'>
        <ul>
          <% items.each do |item| %>
            <li>
              <%= item[1] %>
              <a href="/items/<%= item[0] %>/edit">Edit</a>
              <%= item[2] %>
              <form action="/items/<%= item[0] %>/mark_complete" method="post">
                <input name="active" type="hidden" value="false" />
                <input name="_method" type="hidden" value="put" />
                <input type='submit' value='Mark as completed'/>
              </form>

              <form action="/items/<%= item[0] %>" method="post">
                <input name="_method" type="hidden" value="delete" />
                <input type='submit' value='Delete'/>
              </form>
            </li>
          <% end %>
        </ul>
      <!-- use yield here and define index.erb as layout, then set each /page as it's own erb file to be input here -->
      </div>

    </div>
  </body>

</html>
